asgiref==3.11.1
Django==6.0.2
django-allauth==65.14.3
django-simple-history==3.11.0
pillow==12.1.1
sqlparse==0.5.5
gunicorn>=21.0.0
whitenoise>=6.0.0
psycopg2-binary>=2.9.0
dj-database-url>=2.0.0
celery>=5.3.6
redis>=5.0.1
python-dateutil>=2.8.2
